.products-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .products-bar {
        display: flex;
        flex-direction: column;
        background: var(--secondary-background);
        width: 30%;
        padding: 15px;
        border-radius: 6px;
        margin: 40px 0 40px 0;

        .bar-title {
            margin-bottom: 10px;
            h1 {
                text-align: center;
                font-family: "Tilt Warp", sans-serif;
                font-weight: 400;
                font-size: 30px;
                color: var(--main-text-color);
            }

        }

        .bar-content {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                border: none;
                padding: 10px;
                width: 90%;
                border-radius: 10px;
                
            }

            .content-add {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background-color: var(--main-background);
                margin-left: 8px;
                padding: 4px;

                img {
                    width: 40px;
                    height: 40px;
                    transition: transform 0.1s ease-in-out;
                }

                img:hover {
                    transform: scale(1.15);
                    cursor: pointer;
                }
            }
        }
    }

    .products {
        display: grid;
        justify-content: center;
        width: 100%;
        gap: 30px;
        grid-template-columns: 30% 30% 30%;

        .no-products {
            grid-column: 2;
            text-align: center;
            margin-top: 200px;
            padding: 20px;
            border-radius: 10px;
            background-color: var(--secondary-background);

            h1,
            a {
                font-size: 26px;
                font-weight: 700;
            }

            h1 {
                color: var(--blue-app-color);
            }

            a {
                color: var(--purple-app-color);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}



@media (max-width: 1115px) {
    .products-background {
        .products-bar {
            width: 50%;
        }

        .products {
            gap: 25px;
            grid-template-columns: 45% 45%;
        }
    }
}

@media (max-width: 768px) {
    .products-background {
        .products-bar {
            width: 80%;
        }

        .products {
            gap: 20px;
            grid-template-columns: 90%;
        }
    }
}