.title {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 80px 20px 80px;
    border-radius: 10px;
    background: var(--main-gradient);

    h1 {
        font-family: "Tilt Warp", sans-serif;
        font-weight: 400;
        font-size: 35px;
        color: var(--main-text-color);
    }
    
}

.products {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: 30% 30% 30%;
}

@media (max-width: 1115px) {
    .products {
        gap: 25px;
        grid-template-columns: 45% 45%;
    }
}

@media (max-width: 768px) {
    .title {
        h1 {
            font-size: 30px;
        }
    }

    .products {
        gap: 20px;
        grid-template-columns: 90%;
    }
}