.nav-bar {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--secondary-background);

    .left,
    .middle,
    .right {
        display: flex;
        align-items: center;
        color: var(--main-text-color);

        h1 {
            font-size: 27px;
        }

        h2 {
            font-size: 20px;
        }
    }

    .left {
        h1 {
            margin-left: 6px;
            font-family: "Tilt Warp", sans-serif;
            font-weight: 400;
            background: var(--main-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: opacity 0.1s ease-in-out;
        }

        .icon {
            display: none;
            width: 40px;
            transition: transform 0.3s ease-in-out;
        }

        .icon:hover {
            cursor: pointer;
        }

        .icon.open {
            transform: rotate(180deg);
        }

        .icon.closed {
            transform: rotate(0deg);
        }

        .logo {
            width: 50px;
            transition: opacity 0.1s ease-in-out;
        }

        h1:hover,
        .logo:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .middle {
        display: flex;
        justify-content: center;
        width: 50%;

        nav {
            display: flex;

            div {
                display: flex;
                align-items: center;
                margin-right: 20px;

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                    transition: filter 0.1s ease-in-out;
                }

                a {
                    color: var(--main-text-color);
                    text-decoration: none;
                    transition: color 0.1s ease-in-out;
                }
            }

            div:hover {
                cursor: pointer;
            }

            div:hover a {
                color: var(--blue-app-color);
            }

            div:hover img {
                filter: invert(44%) sepia(66%) saturate(2624%) hue-rotate(182deg) brightness(101%) contrast(100%);
            }
        }

    }

    .right {

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            margin-right: 15px;
            background: var(--reverse-main-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        img {
            width: 50px;
            border: 2px solid var(--blue-app-color);
            border-radius: 50px;
        }
    }
}

.menu {
    width: 260px;
    background-color: var(--secondary-background);
    color: var(--main-text-color);
    border-bottom-right-radius: 5px;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);

    .menu-title {
        text-align: center;
        padding: 10px;

        h1 {
            font-family: "Tilt Warp", sans-serif;
            font-weight: 400;
            font-size: 18px;

        }
    }

    .menu-options {

        h2 {
            font-size: 15px;
            padding: 10px;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
        }

        h2:hover {
            background-color: var(--blue-app-color);
            color: var(--main-text-color);
            cursor: pointer;
        }
    }
}

.menu.open {
    transform: translateX(0);
}

.nemu.close {
    transform: translateX(-100%);
}

@media (max-width: 960px) {
    .nav-bar {
        .middle {
            display: none;
        }

        .left {
            .icon {
                display: flex;
            }

            .logo {
                display: none;
            }
        }
    }
}

@media (max-width: 550px) {
    .nav-bar .right {
        h2 {
            display: none;
        }
    }
}