.nav-bar {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-background);


    .left,
    .middle,
    .right {
        display: flex;
        align-items: center;
        color: var(--main-text-color);

        h1 {
            font-size: 27px;
        }

        h2 {
            font-size: 20px;
        }
    }

    .left {

        h1 {
            margin-left: 10px;
            font-family: "Tilt Warp", sans-serif;
            font-weight: 400;
            background: var(--main-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .icon {
            width: 40px;
            transition: transform 0.3s ease-in-out;
        }

        .icon:hover {
            cursor: pointer;
        }

        .icon.open {
            transform: rotate(180deg);
        }

        .icon.closed {
            transform: rotate(0deg);
        }
    }

    .middle {
        position: relative;
        display: flex;
        justify-content: center;
        width: 30%;

        input {
            width: 100%;
            padding: 12px 40px 12px 15px;
            border-radius: 20px;
            border: none;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
        }

        img {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 5px;
            transition: transform 0.2s ease-in-out;
        }

        img:hover {
            transform: rotate(90deg);
            cursor: pointer;
        }

    }

    .right {

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            margin-right: 15px;
            background: var(--reverse-main-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        img {
            width: 40px;
        }
    }
}

.menu {
    width: 260px;
    background-color: var(--secondary-background);
    color: var(--main-text-color);
    border-bottom-right-radius: 5px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);

    .menu-title {
        display: flex;
        justify-content: center;

        h1 {
            font-family: "Tilt Warp", sans-serif;
            font-weight: 400;
            font-size: 18px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .menu-options {

        h2 {
            font-size: 15px;
            padding: 10px;
            transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
        }

        h2:hover {
            background-color: var(--main-text-color);
            color: black;
            cursor: pointer;
        }

        input {
            display: none;
            border: none;
            border-bottom-right-radius: 3px;
            padding: 10px;
            width: 100%;
        }
    }
}

.menu.open {
    transform: translateX(0);
}

.nemu.close {
    transform: translateX(-100%);
}

@media (max-width: 784px) {
    .nav-bar {
        .right {
            h2 {
                display: none;
            }
        }

        .middle {
            input {
                width: 100%;
            }
        }
    }
}

@media (max-width: 550px) {
    .nav-bar {
        .middle {

            input,
            img {
                display: none;
            }
        }
    }

    .menu {
        .menu-options {
            .mobile-search-bar {
                display: flex;
            }
        }
    }
}