.background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2,
button,
p,
a,
textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

input,
textarea {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15)
}

.create-product-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: var(--secondary-background);
    border-radius: 10px;

    .create-product-header {
        display: flex;
        align-items: center;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #0599FF;
        background: var(--main-gradient);
        background-color: var(--secondary-background);
        color: var(--main-text-color);

        .header-title {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-size: 25px;
        }

        .header-app-name {
            font-family: "Tilt Warp", sans-serif;
            font-weight: 400;
            margin-left: auto;
        }
    }

    .product-data {

        .top-row,
        .middle-row,
        .bottom-row {
            display: flex;
            justify-content: center;

        }

        .product-name,
        .product-category,
        .product-quantity,
        .product-price,
        .product-description,
        .product-picture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            width: 100%;

            h2 {
                font-size: 22px;
                width: 83%;
                margin-bottom: 3px;
                color: var(--main-text-color);
            }

            input {
                border: none;
                padding: 15px;
                font-size: 15px;
                border-radius: 10px;
                color: var(--main-text-color);
                background-color: var(--main-background);
                width: 85%;
            }

            textarea {
                border: none;
                padding: 15px;
                font-size: 15px;
                border-radius: 10px;
                color: var(--main-text-color);
                background-color: var(--main-background);
                width: 85%;
                resize: none;
            }
        }
    }


    .create-product-button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30PX;

        button {
            border: none;
            padding: 10px 60px 10px 60px;
            border-radius: 8px;
            font-size: 18px;
            background: var(--main-gradient);
            color: var(--main-text-color);
            transition: opacity 0.1s ease-in-out;
        }

        button:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .create-product-form {
        width: 90%;
    }
}

@media (max-width: 530px) {
    .create-product-form {


        .product-data {

            .top-row,
            .middle-row,
            .bottom-row {
                display: block;

            }

            .product-name,
            .product-category,
            .product-quantity,
            .product-price,
            .product-description,
            .product-picture {
                margin-top: 10px;

                h2 {
                    font-size: 19px;
                    width: 88%;
                }

                input,
                textarea {
                    width: 90%;
                    padding: 12px;
                    font-size: 13px;
                }
            }
        }

        .create-product-header {

            .header-app-name,
            .header-title {
                font-size: 20px;
            }
        }

        .create-product-button {
            button {
                font-size: 16px;
                padding: 10px 40px 10px 40px;
            }
        }
    }
}