@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Tilt+Warp&display=swap');

:root {
    --main-color: #00276c;
    --button-color: #00003d;
    --button-hover: #5275c8;
    --text-and-background: #EAEAEA;

    --main-text-color: #e4e5e7;
    --main-border-color: #5f5f5f;
    --main-background: #212121;
    --secondary-background: #2f2f2f;
    --red-button-background: #F44336;
    --green-button-background: #53b156;
    --main-gradient: linear-gradient(to right, #0599FF 0%, #9164FF 73%);
    --reverse-main-gradient: linear-gradient(to right, #9164FF 0%, #0599FF 73%);; 

    background-color: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}