.update-product-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

h2,
button,
p,
a,
textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

input,
textarea {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15)
}

.update-product-form {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background);
    border-radius: 10px;
    width: 60%;
    position: relative;

    .update-product-header {
        display: flex;
        align-items: center;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: var(--main-gradient);
        color: var(--main-text-color);

        .header-title {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-size: 25px;
        }

        .header-app-name {
            font-family: "Tilt Warp", sans-serif;
            font-weight: 400;
            margin-left: auto;
        }
    }

    .product-data {

        .update-close {
            display: flex;
            position: absolute;
            top: 90px;
            right: 5px;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            background-color: var(--darker-background);

            img {
                width: 28px;

            }
        }

        .top-row,
        .middle-row,
        .bottom-row {
            display: flex;
            justify-content: center;

        }

        .product-name,
        .product-category,
        .product-weight,
        .product-price,
        .product-description,
        .product-picture {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            width: 100%;

            h2 {
                font-size: 22px;
                width: 83%;
                margin-bottom: 3px;
                color: var(--main-text-color);
            }

            input, select {
                border: none;
                padding: 15px;
                font-size: 15px;
                border-radius: 10px;
                color: var(--main-text-color);
                background-color: var(--main-background);
                width: 85%;
            }

            textarea {
                border: none;
                padding: 15px;
                font-size: 15px;
                border-radius: 10px;
                color: var(--main-text-color);
                background-color: var(--main-background);
                width: 85%;
                resize: none;
            }
        }

        .product-weight {
            display: grid;
            grid-template-columns: 42% 42%;
            gap: 10px;

            .weight-number,
            .weight-type {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2 {
                    width: 95%;
                }
            }

            input,
            select {
                width: 100%;
            }
        }
    }


    .update-product-button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30PX;

        button {
            border: none;
            padding: 10px 60px 10px 60px;
            border-radius: 8px;
            font-size: 18px;
            background: var(--main-gradient);
            color: var(--main-text-color);
            transition: opacity 0.1s ease-in-out;
        }

        button:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    .update-product-form {
        width: 90%;
    }
}

@media (max-width: 530px) {
    .update-product-form {

        .product-data {

            .update-close {
                top: 75px;

                img {
                    width: 22px;
                }
            }

            .top-row,
            .middle-row,
            .bottom-row {
                display: block;

            }

            .product-name,
            .product-category,
            .product-weight,
            .product-price,
            .product-description,
            .product-picture {
                margin-top: 10px;

                h2 {
                    font-size: 19px;
                    width: 88%;
                }

                input,
                textarea {
                    width: 90%;
                    padding: 12px;
                    font-size: 13px;
                }
            }

            .product-weight {
                grid-template-columns: 45% 45%;
                gap: 5px;

                h2 {
                    width: 93% !important;
                }

                input,
                select {
                    width: 97%;
                }
            }
        }

        .update-product-header {

            .header-app-name,
            .header-title {
                font-size: 20px;
            }
        }

        .update-product-button {
            button {
                font-size: 16px;
                padding: 10px 40px 10px 40px;
            }
        }
    }
}